#account-icon {
    display: block;
    width: 1000px;
    height: 1000px;
}

#head {
    width: 10px;
}

header {
    background: #000;
}

#accountIcon {
    color: #fff;
    width: 52px;
    height: 52px;
}

#cartIcon {

    width: 52px;
    height: 52px;
}

#searchIcon {

    width: 52px;
    height: 52px;
}